<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Instances</title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/camera.css">
		<link rel="stylesheet" href="stylesheets/form.css">
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/jquery-migrate-1.1.1.js"></script>
		<script src="javascripts/superfish.js"></script>
		<script src="javascripts/forms.js"></script>
		<script src="javascripts/jquery.ui.totop.js"></script>
		<script src="javascripts/jquery.equalheights.js"></script>
		<script src="javascripts/jquery.easing.1.3.js"></script>
		<script src="javascripts/jquery.ui.totop.js"></script>
		<script src="javascripts/tms-0.4.1.js"></script>
		<script>
			$(document).ready(function(){
				$('.slider_wrapper')._TMS({
					show:0,
					pauseOnHover:false,
					prevBu:'.prev',
					nextBu:'.next',
					playBu:false,
					duration:800,
					preset:'fade',
					pagination:true,//'.pagination',true,'<ul></ul>'
					pagNums:false,
					slideshow:8000,
					numStatus:false,
					banners: 'fade',
					waitBannerAnimation:false,
					progressBar:false
				});
			});
			$(document).ready(function(){
				!function(){
			var map=[]
			 ,names=[]
			 ,win=$(window)
			 ,header=$('header')
			 ,currClass
			$('.content').each(function(n){
			 map[n]=this.offsetTop
			 names[n]=$(this).attr('id')
			})
			win
			 .on('scroll',function(){
				var i=0
				while(map[i++]<=win.scrollTop());
				if(currClass!==names[i-2])
				currClass=names[i-2]
				header.removeAttr("class").addClass(names[i-2])
			 })
			}(); });
					function goToByScroll(id){
				$('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
				}
				$(document).ready(function(){
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="javascripts/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="">
<!--==============================header=================================-->
		<header class="page1">
			<div class="container_12">
				<div class="grid_12">
					<h1><a href="#" onClick="goToByScroll('page1'); return false;"><img src="images/L7_200px.jpg" width='50' height='50' alt="DAQRI instances"></a></h1>
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li class="current men"><a onClick="goToByScroll('page1'); return false;" href="#">prod, us-west1 </a> <strong class="hover"></strong></li>
								<li class="men1"><a onClick="goToByScroll('page2'); return false;" href="#">prod, us-west-2</a><strong class="hover"></strong></li>
								<li class=" men2"><a onClick="goToByScroll('page3'); return false;" href="#">prod, us-east-1</a> <strong class="hover"></strong></li>
								<li class=" men3"><a onClick="goToByScroll('page4'); return false;" href="#">dev, us-west-1</a> <strong class="hover"></strong></li>
								<li class=" men4"><a onClick="goToByScroll('page5'); return false;" href="#">dev, us-west-2</a> <strong class="hover"></strong></li>
								<li class=" men4"><a onClick="goToByScroll('page6'); return false;" href="#">dev, us-east-1</a> <strong class="hover"></strong></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
<!--=======content================================-->
		<div id="page1" class="content">
			<div class="ic">More Website Templates @ TemplateMonster.com - September 9, 2013!</div>
			<div class="container_12">
				<div class="grid_12">
				</div>
			</div>
		</div>
<% displayclass={'prod' => {'us-west-1' => 'page1',
                            'us-west-2' => 'page2',
                            'us-east-1' => 'page3'},
                 'dev'   => {'us-west-1' => 'page4',
                             'us-west-2' => 'page5',
                             'us-east-1' => 'page6'} } %>
<% %W(prod dev).each do |xyz| %>
<% %W(us-west-1 us-west-2 us-east-1).each do |thx| %>
		<div id=<%=  '"'+"#{displayclass[xyz][thx]}"+'"' %> class="content">
			<div class="container_12">
				<div class="grid_12">
					<div class="slogan">
						<div class="text1">
<h3><%= "#{xyz}," %><%= " #{thx}" %></h3>
<% ei = Ec2Instances.new; @grabbed = ei.grabInstances(xyz, thx) %>
<table summary=<%= '"' + "Account #{xyz}, region #{thx}" + '"' %> class='tableclass'  id=<%= '"' + "Account #{xyz}, region #{thx}" + '"' %>>
<tr class='rowclass'><th class='cellclass'>Instance name</th><th class='cellclass'>State</th><th class='cellclass'>Public IP</th><th class='cellclass'>Private IP</th><th class='cellclass'>Instance id</th><th class='cellclass'>Instance type</th></tr>
<% @grabbed.each do |inst| %>
<tr class='rowclass'><td class='cellclass'><%= inst['name'] %></td><td class='cellclass'><%= inst['instanceState'] %></td><td class='cellclass'><%= inst['ipAddress'] %></td><td class='cellclass'><%= inst['privateIpAddress'] %></td><td class='cellclass'><%= inst['instanceId'] %></td><td class='cellclass'><%= inst['instanceType'] %></td></tr>
<% end %>
</table>
                                             </div>
					</div>
				</div>
			</div>
<% end %>
<% end %>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<a onClick="goToByScroll('page1'); return false;" href="#"><img src="images/footer_logo.png" alt=""></a>  &copy; 2016 | <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>
