/**/
@import url(//fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* 'Signika', sans-serif */

@import "../stylesheets/reset.css";
@import "../stylesheets/grid.css";
@import "../stylesheets/superfish.css";

input {
	outline:  none !important;
}


html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 13px/19px  Arial, Helvetica, sans-serif;
	color:#ecedef;
	position:relative;
	min-width:960px;
	background: #334960;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Signika', sans-serif;
	color: #ecedef;
}

h2 {
	font-size: 60px;
	padding-top: 101px;
	line-height: 60px;
	text-align: center;
}

h3 {
	font-size: 48px;
	line-height: 54px;
}

p {
	margin-bottom: 19px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list{

}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #334960;
	
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}


.pad0 {
	padding: 0 !important;
}


.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 position: relative;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 22px;
}

.fright {
	float: right !important;	
}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}



/*header*/

header {
	display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	top: 0;
	overflow: hidden;
	background-color: #334960;
	transition: 0.2s ease;
	-o-transition: 0.1s ease;
	-webkit-transition: 0.2s ease;

}




h1 {
	padding-top: 28px;
	float: left;
	z-index: 999;

}
header h1 a {
	display: block;
	overflow: hidden;
	width: 108px;
	height: 43px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

header h1 a img {
	display: block;	
}

/*Content*/
.content {
	padding-top: 125px;
	text-align: center;
	position: relative;
}

.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 37px 50px 0 50px;
border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;

}

#page3:after {
	border-color: #f17c72 transparent transparent transparent;

}

#page4:after {
	border-color: #32ac97 transparent transparent transparent;

}

#page5:after {
	border-color: #7f4c76 transparent transparent transparent;

}

#page6:after {
	border-color: #3f9fc9 transparent transparent transparent;

}

.tm_link {
	color: #fd2614;
}

.tm_link:hover {
	color: #fff;
}

#page1 {
	padding-bottom: 191px;
}

header.page1 .men .hover{
	top: 0;
}

header.page2 .men1 .hover{
	top: 0;
}

header.page3 .men2 .hover{
	top: 0;
}

header.page4 .men3 .hover{
	top: 0;
}

header.page5 .men4 .hover{
	top: 0;
}

header.page6 .men5 .hover{
	top: 0;
}

#page2 {
	background-color: #f17c72;
	padding-top: 230px;
	padding-bottom: 500px;
	padding-bottom: 190px;
}

header.page2 {
	background-color: #f17c72;
}

header.page2 .hover {
	background-color: #e6655e;
}



#page3 {
	background-color: #32ac97;
	padding-top: 230px;
}

header.page3{
	background-color: #32ac97;
}

header.page3 .hover {
	background-color: #46dcc7;
}

#page4 {
	background-color: #7f4c76;
}

header.page4{
	background-color: #7f4c76;
}

header.page4 .hover {
	background-color: #b288ab;
}

#page5 {
	background-color: #3f9fc9;
}

header.page5{
	background-color: #3f9fc9;
}

header.page5 .hover {
	background-color: #37637f;
}

#page6 {
	padding-top: 230px;
	padding-bottom: 190px;
}

header.page6{
	background-color: #f17c72;
}

header.page6 .hover {
	background-color: #e6655e;
}

.content {
}


#page2 h3 span {
	background-color: #2aae96;
}

#page2 h3 span, #page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}

#page2 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}

#page3  {
	padding-bottom: 190px;
}


#page3 h3 span, #page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}

#page3 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}


#page4 {
	padding-top: 231px;
	padding-bottom: 186px;
}

#page4 h3 span, #page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}

#page4 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}

#page5 {
	padding-top: 230px;
	padding-bottom: 190px;
}


#page5 h3 span, #page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}

#page5 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}

#page6 {
	padding-top: 230px;
	padding-bottom: 190px;
}

#page6 h3 span, #page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}

#page6 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}



address dt {
	margin-bottom: 63px;
}


address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}




/************Footer***********/

footer {
	display: block;
}

footer {
}

footer a:hover {
	color: #f17c72;
}

.copy {
	color: #e0e8ec;
	padding-top: 29px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
}

/**to top**/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:40px;
	margin-right: -620px !important;
	overflow:hidden;
	width:45px;
	height:45px;
	border:none;
	text-indent:-999px;
	z-index:999;
	background:url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	-o-transition: 0s ease;	
}
#toTop:hover {
	background-position: right 0;
}

.tableclass {
    border:2px solid white;
}

.rowclass {
    text-align: right;
    border:1px solid white;
}

.cellclass {
    padding: 2px;
    border:1px solid #aaa;
}

.slogan h3 {
	margin-bottom: 30px;
}

.text1 {
	font-size: 19px;
	line-height: 19px;
}


